 .u-section-1 {
  background-image: url("../images/sa-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1086px;
}

.u-section-1 .u-group-1 {
  width: 538px;
  min-height: 603px;
  height: auto;
  background-image: none;
  margin: 99px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 5px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-1 .u-group-2 {
  width: 395px;
  min-height: 80px;
  height: auto;
  margin: 45px 60px 0 73px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 29px;
  padding-right: 29px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 22px auto 0 1px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px 0 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-group-3 {
  width: 395px;
  min-height: 80px;
  height: auto;
  margin: 26px 59px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 29px;
  padding-right: 29px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 22px auto 0 1px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px 0 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-group-4 {
  width: 395px;
  min-height: 80px;
  height: auto;
  margin: 25px 59px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 29px;
  padding-right: 29px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: 22px auto 0 1px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px 0 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  font-size: 1.875rem;
  background-image: none;
  margin: 59px auto 0;
  padding: 13px 94px 14px 93px;
}

.u-section-1 .u-group-5 {
  min-height: 340px;
  height: auto;
  width: 500px;
  margin: -343px auto 3px 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-group-6 {
  min-height: 98px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 3rem;
  margin: 21px auto 0;
}

.u-section-1 .u-group-7 {
  min-height: 80px;
  height: auto;
  margin-top: 1px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  margin: 22px auto 0 0;
}

.u-section-1 .u-group-8 {
  min-height: 80px;
  height: auto;
  margin-top: -1px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  margin: 22px auto 0 0;
}

.u-section-1 .u-group-9 {
  min-height: 80px;
  height: auto;
  margin-top: 1px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  margin: 22px auto 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1277px;
  }

  .u-section-1 .u-group-1 {
    width: 485px;
    margin-top: 259px;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: 26px;
    margin-left: 50px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
    margin-left: 201px;
  }

  .u-section-1 .u-group-3 {
    margin-right: auto;
    margin-left: 50px;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: auto;
    margin-left: 201px;
  }

  .u-section-1 .u-group-4 {
    margin-right: 60px;
    margin-left: 50px;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: auto;
    margin-left: 201px;
  }

  .u-section-1 .u-group-5 {
    width: 435px;
    height: auto;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-group-7 {
    width: 435px;
    height: auto;
  }

  .u-section-1 .u-text-6 {
    margin-left: -3px;
  }

  .u-section-1 .u-group-8 {
    height: auto;
    width: auto;
  }

  .u-section-1 .u-group-9 {
    width: 435px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1222px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 482px;
    margin-right: auto;
  }

  .u-section-1 .u-group-2 {
    margin-right: 45px;
    margin-left: 35px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 35px;
  }

  .u-section-1 .u-group-4 {
    margin-right: 45px;
    margin-left: 35px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -1023px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1445px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 220px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 20px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 220px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 20px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 220px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 118px;
    margin-left: 28px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1131px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-group-2 {
    width: 329px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 19px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 154px;
  }

  .u-section-1 .u-group-3 {
    width: 329px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 19px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 154px;
  }

  .u-section-1 .u-group-4 {
    width: 329px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 19px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -39px;
    margin-left: 154px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 25px;
    margin-bottom: 55px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-7 {
    width: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-9 {
    width: 340px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 19px;
  }
}